@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');

* {
    background-color: rgb(247, 238, 211);
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: wheat;
    height: 200px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.header .logo {
    background-color: transparent;
    height: 100%;
}

.header p {
    background-color: inherit;
    font-weight: bold;
    margin-left: 32px;
}

#splash {
    background-color: inherit;
    color: rgb(103, 70, 54);
    font-family: "Splash", cursive;
    font-weight: 100;
    font-size: 30px;
    white-space: nowrap;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding: 32px;
}

.recipe {
    width: 300px;
    height: 425px;
}

.recipe img {
    display: block;
    width: 300px;
    height: 375px;
    margin: 0px;
}

.recipe a {
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    color: black;
    font-weight: bold;
}

.recipe p {
    background-color: white;
    padding: 10px;
    text-align: center;
}

