body {
    background-color: rgb(255, 248, 232);
    font-family: 'Times New Roman', Times, serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

h2 {
    color: rgb(103, 70, 54);
}

h1, a { 
    background-color: rgb(247, 238, 211);
    color: rgb(103, 70, 54);
}

h1, h2, a {
    font-weight: bold;
    font-style: italic;
}